body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#mapa-container {
    position: relative;
    width: 80%;
    max-width: 400px;
}

#mapa {
    width: 100%;
}

#avatar {
    position: absolute;
    bottom: 10px; /* Posición inicial del avatar */
    left: 10px; /* Ajusta según donde quieras que empiece el avatar */
    width: 50px; /* Ajusta el tamaño según sea necesario */
    transition: bottom 0.5s ease; /* Transición suave para el movimiento */
}

#input-container {
    margin-top: 20px;
    text-align: center;
}

#input-container input {
    margin: 5px;
    padding: 5px;
}

#input-container button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
